* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: clamp(4%, 1% + 2vw, 6.25%);
  font-family: 'Roboto';

  --bg-sound-button: #e1e1e6;
  --bg-sound-button-active: #02799d;
  --dark-basic-color: #323238;
  --white-img: #fff;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-areas: 
  'timer backSounds';
  place-content: center;
  gap: 192rem;
}

#timer {
  grid-area: timer;
  place-content: center;
}

#timer span {

font-weight: 500;
font-size: 126rem;
text-transform: uppercase;

color: var(--dark-basic-color);
}

#controls {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  margin-top: 48rem;
}

#controls button{
  border: none;
  background-color: var(--white-img);
}

.timerOn {
  animation: wave 7s infinite linear;
}

#backSounds {
  grid-area: backSounds;
  display: grid;
  grid-template-areas: 
  'forest rain'
  'coffe fire';
  gap: 32rem;
}

#backSounds button {
  border: none;
  border-radius: 24rem;
  width: 138rem;
  height: 152rem;
  background-color: var(--bg-sound-button);
}

#backSounds button.iconFocus img {
  
}

#backSounds button.iconFocus {
  background-color: var(--bg-sound-button-active);
  img {
  filter: brightness(100);
}
} 



@keyframes wave {
  0% {
    transform: rotate(360deg); 
  }
  100% {
    transform: rotate(0deg); 
  }
}




